#################################################################################
# Pipeline to build on pull requests                                            #
#################################################################################
name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
jobs:
  build-docker:
    name: Docker ${{ matrix.architecture }}
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker-image.yaml@build-docker-image-v1
    strategy:
      matrix:
        include:
          - architecture: x86_64-linux
            command: nix run -L .#hopli-docker-build-and-upload
            debug_command: nix run -L .#hopli-dev-docker-build-and-upload
    permissions:
        contents: read
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "hopli"
      build_file: "Cargo.toml"
      build_command: ${{ matrix.command }}
      build_debug_command: ${{ matrix.debug_command }}
      docker_image_name: "hopli"
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-docker-manifest:
    name: Docker manifest
    needs: build-docker
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker-manifest.yaml@build-docker-manifest-v1
    permissions:
        contents: read
    with:
      version_type: "commit"
      docker_image_name: "hopli"
      docker_build_version: ${{ needs.build-docker.outputs.docker_build_version }}
      docker_debug_version: ${{ needs.build-docker.outputs.docker_debug_version }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-binaries:
    name: Binary ${{ matrix.architecture }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
            build_command: nix build -L .#hopli-x86_64-linux
    uses: hoprnet/hopr-workflows/.github/workflows/build-binaries.yaml@build-binaries-v1
    permissions:
        contents: read
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: "commit"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "hopli"
      build_file: "Cargo.toml"
      build_command: ${{ matrix.build_command }}
      binary: hopli
      runner: ${{ matrix.runner }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      gpg_private_key: ${{ secrets.GPG_HOPRNET_PRIVATE_KEY }}
