#################################################################################
# Child pipeline to build binaries
#################################################################################
name: Build binaries

on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      runner:
        required: true
        type: string
      architecture:
        required: true
        type: string
      version_type:
        required: true
        type: string
concurrency:
  group: build-binary-${{ inputs.source_branch || github.ref_name }}-${{ inputs.architecture }}
  cancel-in-progress: true

permissions:
  contents: read
  actions: write

jobs:
  binary:
    name: ${{ inputs.architecture }}
    if: inputs.version_type != 'commit' || contains(github.event.pull_request.labels.*.name, format('binary:{0}', inputs.architecture))
    runs-on: ${{ github.event.inputs.runner || inputs.runner }}
    timeout-minutes: 60
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout hoprnet repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          ref: ${{ inputs.source_branch || github.ref_name }}
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@ausias/fix-actions
        with:
          cache: hopli
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Updates build version
        id: version
        uses: hoprnet/hopr-workflows/actions/set-build-version@build-version-v1
        with:
          file: Cargo.toml
          version_type: "${{ inputs.version_type }}"

      - name: Build binary ${{ inputs.architecture }}
        run: |
          nix build -L .#hopli-${architecture}
          mkdir -p ${{ github.workspace }}/artifacts
          cp ./result/bin/hopli ${{ github.workspace }}/artifacts/hopli-${architecture}
        env:
          architecture: ${{ inputs.architecture }}
      - name: Setup GCP
        if: steps.version.outputs.publish_artifact_registry || steps.version.outputs.publish_github_release
        uses: hoprnet/hopr-workflows/actions/setup-gcp@gcp-v1
        with:
          google_credentials: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
          install_sdk: "true"
      - name: Sign binary
        uses: hoprnet/hopr-workflows/actions/sign-file@ausias/fix-actions
        with:
          file: ${{ github.workspace }}/artifacts/hopli-${{ inputs.architecture }}
          gpg_private_key: ${{ secrets.GPG_HOPRNET_PRIVATE_KEY }}
      - name: Publish Artifact registry
        if: steps.version.outputs.publish_artifact_registry || steps.version.outputs.publish_github_release
        uses: hoprnet/hopr-workflows/actions/upload-artifact-registry@ausias/fix-actions
        with:
          source: ${{ github.workspace }}/artifacts
          package: hopli
          version: ${{ steps.version.outputs.build_version }}
      - name: Upload ${{ inputs.architecture }} binary
        if: steps.version.outputs.publish_workflow_run
        uses: actions/upload-artifact@v4
        with:
          name: hopli-${{ inputs.architecture }}
          path: ${{ github.workspace }}/artifacts/hopli-${{ inputs.architecture}}
      - name: Upload ${{ inputs.architecture }} signed binary
        if: steps.version.outputs.publish_workflow_run
        uses: actions/upload-artifact@v4
        with:
          name: hopli-${{ inputs.architecture}}.asc
          path: ${{ github.workspace }}/artifacts/hopli-${{ inputs.architecture}}.asc
      - name: Upload ${{ inputs.architecture }} sha256 binary
        if: steps.version.outputs.publish_workflow_run
        uses: actions/upload-artifact@v4
        with:
          name: hopli-${{ inputs.architecture}}.sha256
          path: ${{ github.workspace }}/artifacts/hopli-${{ inputs.architecture}}.sha256
