#################################################################################
# Child pipeline to build hoprnet docker images
#################################################################################
name: Docker Image
permissions:
  contents: read
on:
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
      version_type:
        required: true
        type: string
concurrency:
  group: build-docker-${{ inputs.source_branch || github.ref_name }}
  cancel-in-progress: true
jobs:
  docker:
    name: Docker
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: 60
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - name: Checkout hoprnet repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          ref: ${{ inputs.source_branch }}
      - name: Setup GCP
        id: gcp
        uses: hoprnet/hopr-workflows/actions/setup-gcp@gcp-v1
        with:
          google_credentials: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY }}
          login_artifact_registry: 'true'
          install_sdk: 'false'
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@ausias/fix-actions
        with:
          cache: hopli
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Updates build version
        id: version
        uses: hoprnet/hopr-workflows/actions/set-build-version@build-version-v1
        with:
          file: Cargo.toml
          version_type: "${{ inputs.version_type }}"
      - name: Get PR labels
        id: pr-labels
        uses: joerick/pr-labels-action@0543b277721e852d821c6738d449f2f4dea03d5f # v1.0.9
      - name: Determine build options
        id: options
        run: |
          declare build_dev_option
          if [[ "${{ inputs.version_type }}" == "commit" ]] && [[ "${GITHUB_PR_LABEL_DOCKER_PRODUCTION_BUILD:-0}" == '0' ]]; then
            build_dev_option="-dev"
          else
            build_dev_option=""
          fi
          echo "build_dev_option=${build_dev_option}" | tee -a "${GITHUB_OUTPUT}"
      - name: Build and push hopli docker image
        run: nix run -L .#hopli${build_dev_option}-docker-build-and-upload
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ vars.DOCKER_IMAGE_REGISTRY }}/hopli:${{ steps.version.outputs.docker_version }}
      - name: Build and push hopli docker image - latest
        if: inputs.version_type == 'pr'
        run: nix run -L .#hopli${build_dev_option}-docker-build-and-upload
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: ${{ vars.DOCKER_IMAGE_REGISTRY }}/hopli:latest
      - name: Log in to Docker Hub
        if: inputs.version_type == 'release'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build and push hopli docker image - Docker Hub
        if: inputs.version_type == 'release'
        run: nix run -L .#hopli-docker-build-and-upload
        env:
          GOOGLE_ACCESS_TOKEN: ${{ steps.gcp.outputs.access_token }}
          IMAGE_TARGET: hoprnet/hopli:${{ steps.version.outputs.docker_version }}
