################################################################################
# Main pipeline to build hopli artifacts
################################################################################
name: Build
on:
  merge_group:
    types: [checks_requested]
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - review_requested
      - synchronize
permissions:
  contents: write
  actions: write
  security-events: write
concurrency:
  group: ${{ github.event.pull_request.head.ref || github.ref_name }}-build
  cancel-in-progress: true
jobs:
  build_docker:
    name: Build
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      version_type: commit
    secrets: inherit
  build_binaries:
    strategy:
      fail-fast: false
      matrix:
        target:
          - name: x86_64-linux
            runner: self-hosted-hoprnet-bigger
          - name: aarch64-linux
            runner: self-hosted-hoprnet-bigger
          - name: aarch64-darwin
            runner: macos-15 # M1 machine
          - name: x86_64-darwin
            runner: macos-13 # Intel machine
    name: binary-${{ matrix.target.name }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
      runner: ${{ matrix.target.runner }}
      architecture: ${{ matrix.target.name }}
      version_type: commit
    secrets: inherit
  docs:
    name: Docs
    # big runner is needed because building docs involves building Rust code
    runs-on: self-hosted-hoprnet-bigger
    steps:
      - name: Publish docs
        uses: hoprnet/hopr-workflows/actions/publish-rust-docs@ausias/fix-actions
        with:
          source_repo: ${{ github.repository }}
          source_branch: ${{ github.event.pull_request.head.ref || github.ref }}
          publish: false
          nix_cache: hopli
          nix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
