name: Cargo redundant deps
on:
  merge_group:
    types: [checks_requested]
  workflow_call:
    inputs:
      source_branch:
        required: true
        type: string
concurrency:
  group: ${{ inputs.source_branch || github.ref_name }}-cargo-redundant-deps
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  detect-unused-dependencies:
    name: Redundant cargo dependencies
    runs-on: self-hosted-hoprnet-bigger
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout hoprnet repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          ref: ${{ inputs.source_branch }}
      - name: Setup Nix
        uses: hoprnet/hopr-workflows/actions/setup-nix@ausias/fix-actions
        with:
          cache: hopli
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Find unused cargo dependencies
        run: nix develop .#ci --command cargo machete
