#################################################################################
# Pipeline triggered on every merged pull request to:
# 1. Cleanup the pull request cache and dependencies cache
# 2. Update the latest docker tag and the release docker tag if it is part of a release
# 3. Build binaries
# 4. Publish docs
#################################################################################
name: Merge
on:
  pull_request:
    types:
      - closed
#     - synchronize
concurrency:
  group: merge-${{ github.event.pull_request.base.ref }}
  cancel-in-progress: false
permissions:
  contents: write
jobs:
  cleanup_actions:
    name: Cleanup Actions
    runs-on: self-hosted-hoprnet-small
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - name: Checkout hoprnet repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.base.ref }}
      - name: Cleanup
        run: |
          gh extension install actions/gh-actions-cache

          REPO=${{ github.repository }}
          BRANCH="refs/pull/${{ github.event.pull_request.number }}/merge"

          echo "Fetching list of cache key"
          cacheKeysForPR=$(gh actions-cache list -R $REPO -B $BRANCH | cut -f 1 )

          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
            gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Undeploy PR deployment"
        if: contains(github.event.pull_request.labels.*.name, 'deploy_nodes')
        # Remove the deploy_nodes label to indicate that the PR deployment has been cleaned up
        run: |
          gh pr edit ${{ github.event.pull_request.number }} --remove-label "deploy_nodes"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  cache_deps:
    name: Cache deps
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/cache-deps.yaml
    with:
      source_branch: ${{ github.event.pull_request.base.ref }}
    secrets: inherit
  build_docker:
    name: Build
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.event.pull_request.base.ref }}
      version_type: 'pr'
    secrets: inherit
  build_binaries:
    if: github.event.pull_request.merged == true
    strategy:
      fail-fast: false
      matrix:
        target:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
          - architecture: aarch64-linux
            runner: self-hosted-hoprnet-bigger
          - architecture: aarch64-darwin
            runner: macos-15 # M1 machine
          - architecture: x86_64-darwin
            runner: macos-15-intel # Intel machine
    name: binary-${{ matrix.target.architecture }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      source_branch: ${{ github.event.pull_request.base.ref }}
      runner: ${{ matrix.target.runner }}
      architecture: ${{ matrix.target.architecture }}
      version_type: pr
    secrets: inherit
  docs:
    name: Docs
    needs:
      - build_docker
    # big runner is needed because building docs involves building Rust code
    runs-on: self-hosted-hoprnet-bigger
    steps:
      - name: Publish docs
        uses: hoprnet/hopr-workflows/actions/publish-rust-docs@ausias/fix-actions
        with:
          source_repo: ${{ github.event.pull_request.base.repo.full_name }}
          source_branch: ${{ github.event.pull_request.base.ref }}
          publish: true
          nix_cache: hopli
          nix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
  notify_failure:
    name: Notify in Zulip on merge pipeline failure
    needs:
      - cleanup_actions
      - cache_deps
      - build_docker
      - build_binaries
      - docs
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Notify failed merge pipeline
        uses: zulip/github-actions-zulip/send-message@e4c8f27c732ba9bd98ac6be0583096dea82feea5 # v1.0.2
        with:
          api-key: ${{ secrets.ZULIP_API_KEY }}
          email: ${{ secrets.ZULIP_EMAIL }}
          organization-url: "https://hopr.zulipchat.com"
          type: "stream"
          to: "HOPRd"
          topic: "Core"
          content: |-
            The merge pipeline failed for pull request [#${{ github.event.pull_request.number }} - ${{ github.event.pull_request.title }}](https://github.com/${{ github.repository }}/actions/workflows/merge.yaml?query=is%3Afailure)
