name: Merge PR
on:
  pull_request:
    types:
      - closed
      # - synchronize
concurrency:
  group: merge
  cancel-in-progress: false
jobs:
  build-docker:
    name: Build docker ${{ matrix.architecture }}
    if: github.event.pull_request.merged == true
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker-image.yaml@ausias/fix-actions
    strategy:
      matrix:
        include:
          - architecture: x86_64-linux
            command: nix run -L .#hopli-docker-build-and-upload
    with:
      source_branch: ${{ github.event.pull_request.base.ref }}
      version_type: "pr"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "hopli"
      build_file: "Cargo.toml"
      build_command: ${{ matrix.command }}
      docker_image_name: "hopli"
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-docker-manifest:
    if: github.event.pull_request.merged == true
    name: Docker manifest
    needs: build-docker
    uses: hoprnet/hopr-workflows/.github/workflows/build-docker-manifest.yaml@ausias/fix-actions
    with:
      version_type: "pr"
      docker_image_name: "hopli"
      docker_build_version: ${{ needs.build-docker.outputs.docker_build_version }}
      docker_debug_version: ${{ needs.build-docker.outputs.docker_debug_version }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      docker_hub_username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKER_HUB_TOKEN }}
  build-binaries:
    name: Build binary ${{ matrix.architecture }}
    if: github.event.pull_request.merged == true
    strategy:
      fail-fast: false
      matrix:
        include:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
            build_command: nix build -L .#hopli-x86_64-linux
    uses: hoprnet/hopr-workflows/.github/workflows/build-binaries.yaml@ausias/fix-actions
    with:
      source_branch: ${{ github.event.pull_request.base.ref }}
      version_type: "pr"
      architecture: ${{ matrix.architecture }}
      cachix_cache_name: "hopli"
      build_file: "Cargo.toml"
      build_command: ${{ matrix.build_command }}
      binary: hopli
      runner: ${{ matrix.runner }}
    secrets:
      gcp_service_account: ${{ secrets.GOOGLE_HOPRASSOCIATION_CREDENTIALS_REGISTRY}}
      cachix_auth_token: ${{ secrets.CACHIX_AUTH_TOKEN }}
      gpg_private_key: ${{ secrets.GPG_HOPRNET_PRIVATE_KEY }}