name: Release
on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        required: true
        description: "Next release type to create"
        options:
          - rc
          - patch
          - minor
          - major
permissions: {}
concurrency:
  group: release
  cancel-in-progress: false
jobs:
  build_docker:
    name: Build
    uses: ./.github/workflows/build-docker.yaml
    with:
      source_branch: ${{ github.ref }}
      version_type: release
    secrets: inherit
  build_binaries:
    strategy:
      fail-fast: false
      matrix:
        target:
          - architecture: x86_64-linux
            runner: self-hosted-hoprnet-bigger
          - architecture: aarch64-linux
            runner: self-hosted-hoprnet-bigger
          - architecture: aarch64-darwin
            runner: macos-15 # M1 machine
          - architecture: x86_64-darwin
            runner: macos-15-intel # Intel machine
    name: binary-${{ matrix.target.architecture }}
    uses: ./.github/workflows/build-binaries.yaml
    with:
      source_branch: ${{ github.ref }}
      runner: ${{ matrix.target.runner }}
      architecture: ${{ matrix.target.architecture }}
      version_type: release
    secrets: inherit
  release:
    name: Release
    needs:
      - build_docker
      - build_binaries
    runs-on: self-hosted-hoprnet-small
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Release version
        id: release
        uses: hoprnet/hopr-workflows/actions/release-version@release-version-v1
        with:
          file: Cargo.toml
          release_type: "${{ inputs.release_type }}"
          zulip_api_key: ${{ secrets.ZULIP_API_KEY }}
          zulip_email: ${{ secrets.ZULIP_EMAIL }}
          zulip_channel: "HOPRd"
          zulip_topic: "Releases"
      - name: Download binary files
        uses: hoprnet/hopr-workflows/actions/download-artifact-registry@ausias/fix-actions
        with:
          destination: ./artifacts
          package: hopli
          version: ${{ steps.release.outputs.current_version }}
      - name: Upload release assets
        run: |
          gh release upload "v${{ steps.release.outputs.current_version }}" ./artifacts/* --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
